body{
	margin:0;
	padding:0;
	font-family: helvetica;
	font-size: 14px;
	text-rendering: geometricPrecision;
}
#menu {
	width:100vw;
	height:170px;
	z-index:5;
	background-color:white;
}
.unfix {
	top:0;
	position:relative;
}
.fix{
	top:-125px;
	position:fixed;
}
#logo{
	background-image:url("media/logo.jpg");
	background-size: 100% 100%;
	width:300px;
	height:125px;
	margin:auto;
}
.cont {
	width:900px;
	margin:auto;
}
#contbtn {
	width:870px;
	margin:auto;
}

.btnmenu:hover{
	background-color:rgb(247,156,49);
	transition:0.2s;
	color:#1b334c;
}
.ssbtn {
	background-color:#1b334c;
	height:40px;
	width:160px;
	margin:7px;
	margin-top:15px;
	float:left;
	border-radius: 10px;
}
.btnmenu{
	background-color:rgb(63,110,150);
	height:40px;
	width:154px;
	padding:3px;
	border-radius: 10px;
	color:white;
	font-weight: bold;
}
.ssbtn:hover{
	height:50px;
	transition:0.2s;
}
.txtmenu{
	width:100%;
	text-align:center;
	margin-top:10px;
}
a {
 	text-decoration:none;
}
#milieu{
	width:100vw;
	margin-top:40px;
}
#footer{
	margin-top:20px;
	bottom:0px;
	height:40px;
	width:100vw;
	background-color:rgb(63,110,150);
	z-index:4;
	overflow:hidden;
}
#fblogo{
	height:30px;
	width:30px;
	background-image:url("https://www.facebook.com/images/fb_icon_325x325.png");
	background-size: 40% 40%;
	background-repeat: no-repeat;
	background-position: center top;
	margin-right:30px;
	float:right;
	padding:30px;
	background-color: white;
}
#footertxt{
	color:rgb(247,156,49);
	text-align: center;
	float:left;
	width:60%;
	margin-right:auto;
}
#slideshow {
    position: relative;
    width: 120vh;
    height: 60vh;
    margin:  20px auto;
    overflow: hidden;
    z-index:0;
		border-radius: 10px;
}
.imgslider{
	width:120vh;
	height:60vh;
    float:left;
    background-size:cover;
}
#imgs0{
	background-color:green;
	background-image:url("media/img1.jpg");
}
#imgs1{
	background-color:red;
	background-image:url("media/img2.jpg");
}
#imgs2{
	background-color:blue;
	background-image:url("media/img3.jpg");
	background-position: center;
}
.txts{
	position:absolute;
	color:white;
	background-color:rgb(63,110,150);
	padding:20px;
	bottom:0px;
	width:100%;
}
.txts:hover{
	background-color:rgb(247,156,49);
}
#sContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 360vh;
    margin: 0;
    padding: 0;
}

#sContent:target {
	left:0px;
}
#contbtnslider {
	position:relative;
	width:90px;
	height:50px;
	margin:auto;
	z-index:1;
}
.btnslider {
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:rgb(63,110,150);
	margin:5px;
	float:left;
	cursor:pointer;
}
.btnslider:hover{
	background-color:rgb(247,156,49);
	transition:0.2s;
}
.fichecom {
	width:170px;
	height:220px;
	background-color:rgb(247,156,49);
	border-radius:10px;
	display:inline-block;
	overflow:hidden;
	cursor:pointer;
}
.imgfichecom {
	opacity:0.8;
	background-image:url("media/img5.jpg");
	background-position:center;
	background-size: 100%;
	height:80%;
	width:100%;
	overflow:hidden;
}
.imgfichecom:hover{
	opacity:1;
	transition:0.2s;
}
.txtfichecom {
	width:80%;
	height:21%;
	color:#1b334c;
	margin:auto;
	text-align: center;
	padding-top: 5px;
	padding-left:10%;
	padding-right:10%;
}
.bgfichecom{
	width:170px;
	height:225px;
	background-color:#1b334c;
	overflow:hidden;
	display:inline-block;
	margin:5px;
	border-radius:10px;
}
#voile{
	width:100vw;
	height:100vh;
	background-color:white;
	position:fixed;
	top:0;
	opacity:0.5;
}
#modal{
	position:fixed;
	background-color:rgb(63,110,150);
	margin-left:-250px;
	margin-top:-140px;
	left:50vw;
	top:50vh;
	width:500px;
	height:0px;
	border-radius:10px;
	cursor:pointer;
}
.titre{
	width:900px;
}
.titrecom{
	font-weight: bold;
	color:#1b334c;
	text-align:center;
	width:100%;
}
#photop0{
	width:80vw;
	max-width:800px;
	position:relative;
	left:50vw;
}
#photocomu{
	width:900px;
	margin:auto;
}
.ficheevent{
	margin-top:10px;
	width:100%;
	background-color: #8098bb;
	border-radius: 10px;
	min-height:300px;
	height:300px;
	overflow:hidden;
	color:white;
}
.fichephotoevent{
	width:35%;
	height:100%;
	background-color: black;
	float:left;
}
.fichetitreevent{
	float:left;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	width:60%;
}
.fichetexteevent{
	margin-left:35%;
	padding-left: 20px;
	padding-right:20px;
	text-align: justify;
}
.bgevent{
	margin:auto;
	background-color:#1b334c;
	height:305px;
	width:80%;
	border-radius:10px;
}
#btncomment {
	margin:auto;
	width:175px;
	height:100px;
}