/*COULEUR CHARTE GRAPH:
Orange foncé 	rgb(247,156,49)
Orange clair	#fbb95f
Bleu 			rgb(63,110,150)
Bleu foncé 		#1b334c
Bleu clair		#8098bb
Mauve			rgb(163,25,91)
*/
/*GENERAL========================================================*/

body{
	margin:0;
	padding:0;
	font-family: "DinotRegular",helvetica;
	font-size: 14px;
	text-rendering: geometricPrecision;
}
.cont {
	max-width:900px;
	width:80vw;
	margin:auto;
}
a {
 	text-decoration:none;
}

/*FONT===========================================================*/

@font-face {
    font-family: "DinotRegular";
    src: url('font/DINOT.otf');
}
@font-face {
    font-family: "DinotBold";
    src: url('font/dinotbold.otf');
}
@font-face {
    font-family: "DinotBlack";
    src: url('font/DINOTBlack.otf');
}


/*MEDIAQUERIES====================================================*/

@media (max-width: 600px) {
  .txtmenu {
		font-size:9px;
	}
	.btnmenu {
		font-size:10px;
	}
	.cont {
		width:100vw;
	}
	#photop0{
		width:100vw;
	}
	#photocomu{
		width:100%;
	}
}


/*MENU===========================================================*/

#menu {
	width:100vw;
	height:217px;
	z-index:5;
	background-color:white;
}
.unfix {
	top:0;
	position:relative;
}
.fix{
	top:-160px;
	position:fixed;
}
#logo{
	background-image:url("media/logo.svg");
	background-size: 115%;
	background-position:center;
	width:80vw;
	height:33vw;
	max-width:300px;
	max-height:125px;
	margin:auto;
	margin-top:30px;
}
#contbtn {
	display: flex;
	/*flex-direction: row;*/
	flex-wrap:wrap;
	/*justify-content:space-around;*/
}
.ssbtn {
	width:20%;
	height:40px;
	/*width:160px;*/
	margin-top:15px;
	/*float:left;*/
	/*border-radius: 10px;*/
}
.btnmenu{
	height:40px;
	/*width:154px;*/
	padding:3px;
	/*border-bottom-style:solid;
	border-width:1px;
	border-color:#4D4D4D;*/
	color:white;
	font-size:13px;
	font-family:"DinotBlack",helvetica;
}
.btnmenu:hover{
	color:black;
	font-family:"DinotBlack",helvetica;
	font-size:14px;
	border-width:2px;
}

#btm1{
	background-color:rgb(63,110,150);
}
#btm2{
	background-color: #8098bb;
}
#btm3{
	background-color:rgb(247,156,49);
}
#btm4{
	background-color: #fbb95f;
}
#btm5{
	background-color: rgb(163,25,91);
}

.ssbtn:hover{
	height:50px;
	transition:0.2s;
}
.txtmenu{
	width:100%;
	text-align:center;
	margin-top:10px;

}


/*MILIEU============================================================*/

#milieu{
	width:100vw;
	margin-top:40px;
	margin-bottom:40px;
}


/*FOOTER============================================================*/

#footer{
	bottom:0px;
	height:60px;
	width:100vw;
	background-color:white;
	z-index:4;
	overflow:hidden;
}
#fblogo{
	height:30px;
	width:30px;
	background-image:url("https://www.facebook.com/images/fb_icon_325x325.png");
	background-size: 40% 40%;
	background-repeat: no-repeat;
	background-position: center top;
	margin-right:30px;
	float:right;
	padding:30px;
	background-color: white;
}
#footertxt{
	color:#4D4D4D;
	text-align: center;
	width:100%;
	margin-right:auto;
}


/*SLIDER/INDEX=================================================*/

#slideshow {
    position: relative;
    width: 120vh;
    height: 60vh;
    margin:  20px auto;
    overflow: hidden;
    z-index:0;
		cursor:pointer;
}
.imgslider{
	width:120vh;
	height:60vh;
    float:left;
    background-size:cover;
}
#imgs0{
	background-image:url("media/img1.jpg");
}
#imgs1{
	background-image:url("media/img2.jpg");
}
#imgs2{
	background-image:url("media/img3.jpg");
	background-position: center;
}
.txts{
	position:absolute;
	color:white;
	background-color:rgb(63,110,150);
	padding:20px;
	bottom:0px;
	width:100%;
}
.txts:hover{
	background-color:rgb(247,156,49);
}
#sContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 360vh;
    margin: 0;
    padding: 0;
}

#sContent:target {
	left:0px;
}
#contbtnslider {
	position:relative;
	width:90px;
	height:50px;
	margin:auto;
	z-index:1;
}
.btnslider {
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:rgb(63,110,150);
	margin:5px;
	float:left;
	cursor:pointer;
}
.btnslider:hover{
	background-color:rgb(247,156,49);
	transition:0.2s;
}


/*COMMUNAUTEE/PAGE4=============================================*/

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-around;
}
.fichecom {
	width:100%;
	height:100%;
	/*border-radius: 10px;*/
	/*display:inline-block;*/
	overflow:hidden;
	cursor:pointer;
}
.fichecom:hover {
	background-color:;
}
.imgfichecom {
	background-image:url("media/truite.jpg");
	background-position:center;
	background-size: cover;
	height:50%;
	width:75%;
	overflow:hidden;
	margin:auto;
	margin-top:13px;
}
.titrefichecom {
	font-family:"DinotBold";
}
.txtfichecom {
	width:80%;
	height:21%;
	color:black;
	margin:auto;
	text-align: center;
	padding-top: 5px;
	padding-left:10%;
	padding-right:10%;
}
.bgfichecom{
	width:190px;
	height:350px;
	/*border-bottom-style:solid;
	border-top-style:solid;
	border-color:#4D4D4D;
	border-width:1px;*/
	overflow:hidden;
	/*display:inline-block;*/
	margin:15px;
	/*border-radius: 10px;*/
}
.descfichecom {
	background-color:black;
	display:none;
}
#voile{
	width:100vw;
	height:100vh;
	background-color:white;
	position:fixed;
	top:0;
	opacity:0.5;
}
#modal{
	position:fixed;
	background-color:white;
	margin-top:-140px;
	left:50vw;
	top:50vh;
	max-width:800px;
	width:90vw;
	height:0px;
	/*border-radius:10px;*/
	padding:10px;
	-moz-box-shadow: 1px 2px 20px 0px #656565;
	-webkit-box-shadow: 1px 2px 20px 0px #656565;
	-o-box-shadow: 1px 2px 20px 0px #656565;
	box-shadow: 1px 2px 20px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=153, Strength=20);
}
#crux{
	position:absolute;
	width:25px;
	height:25px;
	background-image:url("media/croix.svg");
	background-position:center;
	background-size:cover;
	right:5px;
	top:5px;
	cursor:pointer;
}
#contmodal {
	width:100%;
	height:0px;
	/*border-radius: 10px;*/
	margin-top: -10px;
	margin-left: -10px;
	padding:10px;
}
.modalphoto {
	background-color: red;
	background-size:cover;
	background-position:center;
	height:220px;
	width:170px;
	/*border-radius: 10px;*/
	float:left;
	margin:10px;
}
.modaltitre {
	font-family:"DinotBold";
	color:black;
	margin:10px;
	margin-top: 20px;
	margin-bottom:20px;
	text-align:center;
	top:10px;
}
.modaltext{
	margin: 10px;
	color:black;
	text-align: justify;
	height:200px;
	overflow-y:scroll;
	padding:10px;
}
.titre{
	max-width:900px;
}
.titrecom{
	font-family:"DinotBlack";
	color:black;
	font-size:18px;
	text-align:center;
	width:100%;
}
@media (min-width: 600px) {
	#photocomu{
		max-width:900px;
		width:80vw;
		margin:auto;
		margin-top:-75px;
	}
}


/*COMMENT?/PAGE1=================================================*/

.imgcomment{
	max-width:900px;
	position:relative;
	left:50vw;
}
#photop1{
	margin-bottom:100px;
}
#btncomment {
	margin:auto;
	width:175px;
	height:45px;
	background-color:rgb(63,110,150);
	margin-bottom:100px;
}
#textcomment {
	width:80vw;
	max-width:900px;
	text-align:justify;
	position:relative;
	left:50vw;
	margin-bottom:75px;
}

/*EVENT/MEDIA/PAGE2/3=================================================*/

.bgevent{
	max-width:900px;
	margin:auto;
	height:500px;
	width:100%;
	/*border-radius: 10px;*/
}
.ficheevent{
	margin-top:30px;
	width:100%;
	max-width:900px;
	/*border-radius: 10px;*/
	min-height:300px;
	height:100%;
	overflow:hidden;
	/*border-style:solid;
	border-color:#4D4D4D;
	border-width:1px;*/
	color:black;/*#4D4D4D;*/
	/*background-color:rgb(247,156,49);*/
}
.fichephotoevent{
	width:70%;
	height:100%;
	background-color: black;
	background-size:cover;
	float:right;
}
.model0 .fichephotoevent{
	width:70%;
	height:100%;
	background-color: black;
	background-size:cover;
	float:left;
}
.model1 .fichephotoevent{
	width:70%;
	height:100%;
	background-color: black;
	background-size:cover;
	float:right;
}
.fichetitreevent{
	float:left;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family:"DinotBold";
	width:30%;
}
.model0 .fichetexteevent{
	margin-left:70%;
	padding-left: 20px;
	padding-right:20px;
	text-align: justify;
	font-family:"DinotRegular";
}
.model1 .fichetexteevent{
	margin-right:70%;
	padding-left: 20px;
	padding-right:20px;
	text-align: justify;
	font-family:"DinotRegular";
}

.titreevent {
	text-align:center;
}
.dateevent {
	text-align:center;
}


/*CSS ALTERNATIF EVENT/MEDIA==============================================*/

.ficheeventb{
	margin-top:10px;
	width:100%;
	max-width:900px;
	background-color: #8098bb;
	/*border-radius: 10px;*/
	min-height:300px;
	height:300px;
	overflow:hidden;
	color:white;
}
.fichephotoeventb{
	width:100%;
	height:60%;
	background-color: black;
}
.fichetitreeventb{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.fichetexteeventb{
	padding-left: 20px;
	padding-right:20px;
	text-align: justify;
}
.bgeventb{
	max-width:900px;
	margin:auto;
	background-color:#1b334c;
	height:305px;
	width:80%;
	/*border-radius: 10px;*/
}
